body{
    margin:0;
    background:#0a0a0a;
    color:white;
    font-family:Arial,sans-serif;
    text-align:center;
}
header{
    background:gold;
    color:black;
    padding:20px;
}
h1{
    margin:0;
}
.hero{
    padding:60px 20px;
}
button{
    padding:15px 30px;
    border:none;
    border-radius:30px;
    background:gold;
    font-size:18px;
    font-weight:bold;
}nav{
    background:#111;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 10px;
    font-weight:bold;
    font-size:16px;
}

nav a:hover{
    color:gold;
}.menu{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:20px;
    padding:30px;
}

.card{
    background:#1b1b1b;
    border-radius:20px;
    padding:25px;
    text-align:left;
    border:2px solid gold;
}

.card h2{
    margin-top:0;
    color:gold;
}

.card p{
    color:#ddd;
}

.card a{
    display:inline-block;
    margin-top:15px;
    padding:12px 25px;
    background:gold;
    color:black;
    text-decoration:none;
    border-radius:30px;
    font-weight:bold;
}